@import '../../styles/Theme.css';

.displayNumbers {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  justify-content: center;
}
.displayNumbers__center {
  display: flex;
  width: 100%;
  justify-content: center;
}
.displayNumbers__message {
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  position: absolute;
  top: -22px;
  width: 100%;
}
.message_error {
  color: var(--error);
}
.message_warning {
  color: var(--warning);
}
.message_success {
  color: var(--success);
}

@media (max-width: 768px) {
  .displayNumbers {
    transform: scale(0.8);
  }
}
