@import url('../../styles/Theme.css');

.displayControls {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
}
.displayControls__wrapper_button {
  display: flex;
  justify-content: center;
}
.displayControls__button {
  display: flex;
  align-items: center;
  border: none;
  background-image: linear-gradient(var(--mediumGrey), var(--mediumGreyB));
  height: 42px;
  border-radius: 5px;
  padding: 0.5rem;
}
.displayControls__button__text {
  color: var(--lightWhite);
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 0.5rem;
  padding-right: 0.5rem;
}
.displayControls__wrapper__entryNumber {
  display: flex;
  justify-content: center;
}
.displayControls__wrapper__entryNumber {
  margin-bottom: 3.9rem;
}
.displayControls_number_input {
  border: 1px solid var(--primary);
  height: 4.2rem;
  width: 21.7rem;
  border-radius: 4px;
  font-size: 1.2rem;
  padding: 0 1rem;
}
.displayControls_number_input::-webkit-outer-spin-button,
.displayControls_number_input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.displayControls_number_input[type='number'] {
  -moz-appearance: textfield;
}
.displayControls__sendButton {
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--lightWhite);
  border: none;
  margin-left: 1rem;
  background-image: linear-gradient(var(--primary), var(--primaryShadow));
  border-radius: 4px;
  padding: 0 1.8rem;
}
